body {
    font-family: "Poppins";
    color: #270738;
}

#map {
    height: 256px; /* 64 * 4px */
}

h-8{
    height: 32px;
}

.alert-success {
    display: flex;
    align-items: center;
    background-color: #f0fdf4;
    border: 1px solid #bbf7d0;
    color: #15803d;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    max-width: 600px;
    position: relative;
}

.alert-icon {
    font-size: 16px;
    margin-right: 10px;
    color: #10b981;
}

.alert-message {
    flex-grow: 1;
}

.alert-close {
    background: none;
    border: none;
    color: #10b981;
    font-size: 16px;
    cursor: pointer;
}